/*=================
 Tag Line Container
=================*/
/* .content-container {} */
/* .tag-line-container {} */

/*---------------
 Slogan Container
---------------*/
.tag-line-container .slogan-container {
    width: 60%;
    padding: 3em;
}

/*--------------
 Image Container
--------------*/
.tag-line-container .slogan-container {
    width: 60%;
}

.tag-line-container .image-container {
    width: 40%;
    padding: 1em;
}

.tag-line-container .slogan-container p.heading:nth-child(3) {
    font-size: 2.5rem;
    margin-block: 1.5rem;
}

@media only screen and (max-width: 1200px) {
    .tag-line-container {
        flex-direction: column;
    }

    .tag-line-container .slogan-container,
    .tag-line-container .image-container {
        width: 100%;
    }

    .tag-line-container .slogan-container p.heading {
        margin-inline: auto;
        width: fit-content;
    }
}
